.jfx-buttonSave {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

/* Button hover effect */
.jfx-buttonSave:hover {
    -fx-background-color:  #03a9f4;
    -fx-cursor: hand;
}

.jfx-buttonDelete {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

/* Button hover effect */
.jfx-buttonDelete:hover {
    -fx-background-color:   #d50000;
    -fx-cursor: hand;
}

.jfx-buttonUpdate {

    -fx-background-color: transparent;

    -fx-text-fill: black;

    -fx-font-size: 13px;

    -fx-font-weight: bold;

}

/* Button hover effect */
.jfx-buttonUpdate:hover {
    -fx-background-color: #ffff00;
    -fx-cursor: hand;
}
.jfx-buttonClear {

        -fx-background-color: transparent;

        -fx-text-fill: black;

        -fx-font-size: 13px;

        -fx-font-weight: bold;

    }

    /* Button hover effect */
    .jfx-buttonClear:hover {
        -fx-background-color: #b0bec5;
        -fx-cursor: hand;
    }
.text-field, .password-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}